<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>20127170_BaiTap2</title>
    <link rel="stylesheet" href="../assets/css/style_layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./assets/scripts/blog.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="head1">
                <div style="margin-right: 100px;"><h1>PUBLICATION</h1></div>
                <div style="margin-right: 100px;" class="search"> 
                    <input  style="width: 500px; height:24px; margin-right: -5px;" type="text" id="key_search" name="search" placeholder="Input author, paper,...." >
                    <button style="height:30px;"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div>
                    <a style="margin-right:10px;" href="#"><i class="fa-solid fa-circle-info"></i>&nbspInfor</a>
                    <a href="#"><i class="fa-solid fa-right-to-bracket"></i>&nbspLogin</a> 
                </div>
            </div>
           

            <div class="head2">
                <ul>
                    <li><a href="#">Home</a></li>
                      <li><a href="#">Chủ đề 1</a></li>
                      <li><a href="#">Chủ đề 2</a></li>
                      <li><a href="#">Chủ đề 3</a></li>
                      <li><a href="#">Chủ đề 4</a></li>
                      <li><a href="#">Chủ đề 5</a></li>
                    </ul>
            </div> 
        </div>


        <div class="content">
            <div>
                <h2>NEWEST PAPER OF THE YEAR</h2>
            </div>
            <div style="height: 400px; display:flex; justify-content: center; align-items: center;flex-wrap: wrap;">
                <div style="margin-right: 10px;">
                    <div> <h3>Chủ đề 1</h3></div>
               
                    <div style="width: 300px; height: 100px; border: 1px solid black; display:flex; justify-content: center;
                    align-items: center;">
                        <div>
                            <span>Title: Advancements in Artificial Intelligence</span><br>
                            <span>Authors: John Smith, Jane Doe</span>
                        </div>
                        
                    </div>
                </div>

                <div style="margin-right: 10px;">
                    <div> <h3>Chủ đề 1</h3></div>
               
                    <div style="width: 300px; height: 100px; border: 1px solid black; display:flex; justify-content: center;
                    align-items: center;">
                        <div>
                            <span>Title: Advancements in Artificial Intelligence</span><br>
                            <span>Authors: John Smith, Jane Doe</span>
                        </div>
                        
                    </div>
                </div>

                <div style="margin-right: 10px;">
                    <div> <h3>Chủ đề 1</h3></div>
               
                    <div style="width: 300px; height: 100px; border: 1px solid black; display:flex; justify-content: center;
                    align-items: center;">
                        <div>
                            <span>Title: Advancements in Artificial Intelligence</span><br>
                            <span>Authors: John Smith, Jane Doe</span>
                        </div>
                        
                    </div>
                </div>

                <div style="margin-right: 10px;">
                    <div> <h3>Chủ đề 1</h3></div>
               
                    <div style="width: 300px; height: 100px; border: 1px solid black; display:flex; justify-content: center;
                    align-items: center;">
                        <div>
                            <span>Title: Advancements in Artificial Intelligence</span><br>
                            <span>Authors: John Smith, Jane Doe</span>
                        </div>
                        
                    </div>
                </div>

                <div style="margin-right: 10px;">
                    <div> <h3>Chủ đề 1</h3></div>
               
                    <div style="width: 300px; height: 100px; border: 1px solid black; display:flex; justify-content: center;
                    align-items: center;">
                        <div>
                            <span>Title: Advancements in Artificial Intelligence</span><br>
                            <span>Authors: John Smith, Jane Doe</span>
                        </div>
                        
                    </div>
                </div>
                
                
               
            </div>
        </div>


        <div class="footer">
            <div class="foo_1">
                <strong style="margin:0;">PUBLICATION</strong><br>
                <p style="margin:0;">Application that allows users to add article information,<br> participation information and
                    Search articles.</p>
            </div>
            <div class="foo_2">
                <strong style="margin:0;">CONTACT US</strong><br>
                <p style="margin:0;">51 Phạm Văn Chiêu, Phường 14, Quận Gò Vấp, TPHCM</p>
                <p style="margin:0;"><i class="fa-solid fa-phone"></i>&nbsp; 0398668523</p>
                <p style="margin:0;"><i class="fa-solid fa-envelope"></i> &nbsp; publication@gmail.com</p>
            </div>
            <div class="foo_3">
                <strong style="margin:0;">FOLLOW US</strong><br>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </div>

</body>
</html>